.countryDetail {
    /* border: 1px solid goldenrod; */
    padding: 30px;
    box-shadow: 5px 5px 15px gray;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.countryDetail img{
    height: 200px;
    width: 450px;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.country-info{
    border: 2px solid orange;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
}