.nav-custom{
    background-color: orange !important;
}
.navbar-brand{
    font-weight: 700;
    font-size: 24px;
    color: teal !important;
}
.nav-link{
    font-weight: 600;
    font-size: 20px;
    color: teal !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
}
.nav-link:hover{
    border: 1px solid white;
    border-radius: 15px;
    color: green !important;
    /* background-color: white; */
}