.country{
    /* border: 1px solid red; */
    border-bottom-left-radius: 10%; 
    border-top-right-radius: 10%;    
    box-shadow: 5px 5px 10px gray; 
    height: 100%;
}
.country img{
    height: 150px;
    width: 300px;
    border-radius: 5%;
    margin-bottom: 15px;
}